@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?j6nljt');
  src:  url('../fonts/icomoon.eot?j6nljt#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?j6nljt') format('truetype'),
    url('../fonts/icomoon.woff?j6nljt') format('woff'),
    url('../fonts/icomoon.svg?j6nljt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatshot:before {
  content: "\e900";
}
.icon-heart:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e902";
}
.icon-cog:before {
  content: "\e994";
}


body{
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.container{
  height: 100%;
  display: grid;
  grid-template-columns: [izquierda] 8% [derecha] 92%;
  grid-template-rows: [arriba] 100px [abajo] 90%;
  grid-area: "header header"
             "menu contenido"
             "menu contenido";
  overflow: hidden;
  /* overflow: scroll; */
}

.item{
/*   border: 1px solid black; */
  padding: 10px;
}

.item:nth-of-type(1){
  grid-area: header;
  grid-column: izquierda / 3;
  grid-row: arriba / 2;
  padding: 0;
}
    .logo{
      height: 90px;
      margin: 0;
      padding: 5px;
      align-self: center;
      justify-self: center;
    }
    .logo-img{
      height: inherit;
    }
    .cabecera{
      box-shadow: 0 0 8px 0 rgba(0,0,0, .4);
      display: grid;
      grid-template-columns: 1fr 50% 1fr;
      height: 100%;
    }
    .search{
      align-content: center;  
      margin: 0 20%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    input{
      border: 1px solid black;
      border-radius: 5px;
      width: 100%;
      height: 20px;
      margin: 0 auto;
      box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.4));
    }
    .acount{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .profilepic{
      width: 50px;
      height: 50px;
      border-radius: 25px;
      border: 1px solid black;
      overflow: hidden;
      margin: 0;
      margin-left: 10px;
    }
    .profilepic-img{
      width: 52px;
      height: 52px;
    }

.item:nth-of-type(2){
  grid-area: menu;
  grid-column: izquierda / 2;
  grid-row: 2 / abajo;
}
    .item.menu{
      height: 100%;
    }
    .menu{
      height: 100%;
      display: block;
      align-content: center;
      color: white;
      background: -webkit-linear-gradient(left, rgba(250,0,0,1) 0%, rgba(255,87,87,1) 64%, rgba(252,104,104,1) 100%);
    }
    .windows{
      height: 100%;
      position: relative;
  /*     justify-content: space-between; */
    }
    .item .menu a{
      display: flex;
    }
    .windows i{
      font-size: 40px;
      text-align: center;
      background-size: 40px 40px;
      margin: 20px auto 0;
    }
    .window-name{
      height: 20px;
      text-align: center;
    }
    .configuration{
      position: absolute;
      bottom: 50px;
      width: 100%;
    }
    .configurations i{
      font-size: 40px;
      text-align: center;
      background-size: 40px 40px;
      margin: 20px auto 0
    }
  }

.item:nth-of-type(3){
  grid-area: contenido;
  grid-column: 2 / abajo;
  grid-row: 2 / derecha;
}
    .contenido{
      overflow: scroll;
      margin: 0 auto;
    }
    .contenido::-webkit-scrollbar{
      width: 10px;
    }
    .contenido::-webkit-scrollbar-track{
      background: rgba(211, 211, 211, 1);
      border-radius: 5px;
    }
    .contenido::-webkit-scrollbar-thumb{
      background: rgba(128, 128, 128, 1);
      border-radius: 5px;
    }
    .movie-list{
      height: auto;
      width: auto;
      display: grid;
      grid-template-columns: [start] 400px 400px 400px 400px [end];
      grid-template-rows: repeat(6, 50px 200px);
      grid-gap: 10px;
      margin: 20px;
    }
    .movie-link{
      cursor: pointer;
      position: relative;
      display: block;
      overflow: hidden;
    }
    .movie-container{   
      height: 100%;
      margin: 0;
    }
    .movie-img{
      width: 100%;
    }
    .movie-overlay{
      background: rgba(17, 17, 17, 0.5);
      position: absolute;
      left: 0;
      right: 0;
      top: 40%;
      bottom: 0;
      display: none;
      align-items: center;
      justify-content: left;
      color: white;
      text-align: left;
      height: 100%
      margin: 0;
      padding: 7px;
      grid-template-rows: 30% 70%;
      grid-gap: 2px;
    }
    .movie-link:hover .movie-overlay{
      display: grid;
    }

    .title{
      margin: 0;
    }
    .description{
      height: 100%;
      margin: 0;
      font-size: 1em;
      font-weight: 400;
    }

    .categorie{
      grid-column: start / end;
      margin: 0;
      align-self: end;
    }
