body{
  margin: 0;
  font-family: Arial;
}
.post{
  cursor: pointer;
  width: 200px;
  height: 200px;
  display: block;
  /* al ser un ancla este elemento viene con display inline por defecto */
}
.post-image{
  margin: 0;
}
.post-image img{
  width: 100%;
  vertical-align: top;
}
.post-overlay{
  background: rgba(0,0,0,.4);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.post:hover .post-overlay{
  display: flex;
  width: inherit;
  height: inherit;
}
.post-likes,
.post-comments{
  width: 80px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}
