body{
  font-family: arial;
  max-width: 1519px;
}

.container{
  display: grid;
  /* grid-template-columns: 25% 50% 25%;
  grid-template-rows: 300px 300px;
  grid-template: filas / columnas; */
  /* grid-template: 300px 100px 100px / repeat(4, 1fr); */
  /* grid-template: 300px 100px 100px / minmax(200px, 1fr) 1fr 1fr 1fr ; */  grid-template: 300px 100px 100px / repeat(4, minmax(300px, 1fr));
  grid-gap: 10px
}
.item{
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
  grid-gap: 10px;
}
  .item:nth-of-type(4){
    background-color: lightcoral;
    overflow: auto;
    display: grid;
    grid-template: 50px 50px 50px /33.3% 33.3% 33.3%;
  }
  .item .item {
    background-color: khaki;
  }